<div class="ui items" *ngFor="let t of toursroutes">
    <div class="item">
      <div class="image">
        <img src="/images/wireframe/image.png">
      </div>
      <div class="content">
        <a class="header">{{t.rute}}</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p> {{t.description}} </p>
        </div>
        <div class="extra">
          Additional Details
        </div>
      </div>
    </div>
  
  <!--   
    <div class="card bg-dark text-white" *ngFor="let t of toursroutes">
      <img class="card-img" src=".../100px270/#55595c:#373a3c/text:Card image" alt="Card image">
      <div class="card-img-overlay">
        <h5 class="card-title">{{t.rute}}</h5>
        <p class="card-text">{{t.description}} </p>
        <p class="card-text">Last updated 3 mins ago</p>
      </div>
    </div>
     -->
  
  
  
  
  
  
  
    <!-- <div class="item">
      <div class="image">
        <img src="/images/wireframe/image.png">
      </div>
      <div class="content">
        <a class="header">Header</a>
        <div class="meta">
          <span>Description</span>
        </div>
        <div class="description">
          <p></p>
        </div>
        <div class="extra">
          Additional Details
        </div>
      </div>
    </div> -->
  </div>