<div class="wrapper">
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
        <label>Nombre</label>
        <input type="text" class="form-control" id="nombre" placeholder="Nombre">
    </div>
    <div class="form-group col-md-6">
        <label>Apellido</label>
        <input type="text" class="form-control" id="apellido" placeholder="Apellido">
    </div>
    <div class="form-group col-md-6">
        <label>Dirección</label>
        <input type="text" class="form-control" id="direccion" placeholder="Dirección">
    </div>
    <div class="form-group col-md-6">
        <label>Dirección 2</label>
        <input type="text" class="form-control" id="direccion2" placeholder="Dirección 2">
    </div>
    <div class="form-group col-md-6">
        <label>Comunidad</label>
        <input type="text" class="form-control" id="comunidad" placeholder="Comunidad">
    </div>
    <div class="form-group col-md-6">
        <label>Provincia</label>
        <input type="text" class="form-control" id="provincia" placeholder="Provincia">
    </div>
    <div class="form-group col-md-6">
        <label>Código Postal</label>
        <input type="text" class="form-control" id="codigo" placeholder="Código Postal">
    </div>
    <div class="form-group col-md-6">
      <label>Email</label>
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
    <div class="form-group col-md-6">
      <label>Teléfono</label>
      <input type="text" class="form-control" id="telefono" placeholder="Teléfono">
    </div>
  </div>
  <div class="form-group">
    <label>Experiencia</label>
    <textarea type="text" class="form-control" id="experiencia" placeholder="Experiencia"></textarea>
  </div>
  <div class="form-group">
      <label>Biografia</label>
      <textarea type="text" class="form-control" id="biografia" placeholder="Biografia"></textarea>
    </div>
    <div class="form-group">
    <label>Subir Foto</label>
      <input type="text" class="form-control" id="" placeholder="Foto">
    </div>
  <div class="form-group">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" id="gridCheck">
      <label class="form-check-label" for="gridCheck">
        Si a todo
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign in</button>
</form>
</div>