<header class="container-fluid bg-#44344F sticky-top">
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-#44344F">
      <a class="navbar-brand" href="#">
        <img src="../assets/img/logo_toknow_blanco_70x70px.png" alt="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <!-- <a class="nav-item nav-link active" href="#">Home
            <span class="sr-only">(current)</span>
          </a> -->
          <a class="nav-item nav-link" href="#">Conviértete en guía</a>

          <a class="nav-item nav-link" href="#">Regístrate</a>
          <a class="nav-item nav-link" href="#">Inicia sesión</a>
          <!-- <a class="nav-item nav-link" href="#">Contact</a> -->
        </div>
      </div>
    </nav>
  </div>



</header>
<div style="text-align:center">
  <router-outlet></router-outlet>
</div>



<footer class="container-fluid bg-dark">
  <div class="container">
    <ul class="rss">
      <li class="d-inline-block pb-5 pt-5">
        <a class="text-light" href="">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li class="d-inline-block pb-5 pt-5">
        <a class="text-light" href="">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li class="d-inline-block pb-5 pt-5">
        <a class="text-light" href="">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li class="d-inline-block pb-5 pt-5">
        <a class="text-light" href="">
          <i class="fab fa-facebook"></i>
        </a>
      </li>
      <li class="d-inline-block pb-5 pt-5">
        <a class="text-light" href="">
          <i class="fab fa-facebook"></i>
        </a>
      </li>

    </ul>
  </div>
</footer>