<div class="ui items" *ngFor="let t of toursroutes">
  <div class="item">
    <div class="image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <a class="header">{{t.rute}}</a>
      <div class="meta">
        <span>Description</span>
      </div>
      <div class="description">
        <p> {{t.description}} </p>
      </div>
      <div class="extra">
        Additional Details
      </div>
    </div>
  </div>
  <!-- <div class="item">
    <div class="image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
      <a class="header">Header</a>
      <div class="meta">
        <span>Description</span>
      </div>
      <div class="description">
        <p></p>
      </div>
      <div class="extra">
        Additional Details
      </div>
    </div>
  </div> -->
</div>