

  <!-- AQUI OTRA CARD -->
    <!-- BREADCRUM -->
<br>
<br>
<br>
  <div class="justify-content-center align-items-center  ">
    <div class="container">
      <div class="ui mini breadcrumb">
          <a class="section">Home</a>
          <i class="right chevron icon divider"></i>
          <a class="active section">Busqueda</a>
          <!-- <i class="right chevron icon divider"></i>
          <div class="active section">Ciudad</div> -->
        </div>
    <div class="col-12 mt-4 mb-4" *ngIf="toursroutes?.length > 0">
        <h1>Follow your host en {{toursroutes[0].ciudad}}</h1>
    </div>
    <div class="col-12 mt-0 mb-0">
      <div  class="d-inline-block card ml-2 mr-2 mt-2 mb-2 align-top" 
            style="width: 24rem;" 
            *ngFor="let t of toursroutes" 
            (click)="navegarADetalle(t)">  
      <!-- <div class="size" style="background-image: url(fondo.jpg)">  
        <img class="imagen" [src]="t.fotos" alt="Imágen Tour">
      </div>  -->
        <img class="card-img-top" [src]="t.fotos" alt="Imágen Tour">
        <div class="card-body">
          <h4 class="card-title">{{t.titulo}}</h4>
          <!-- <p class="card-text">{{t.des_corta}}</p> -->
          <!-- <a href="#" class="btn btn-primary">CAMBIAR ESTE BOTON</a> -->
        </div>
      </div>
  </div>
  </div>
</div>
